html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

button{
    background-color: transparent;
    padding: 150px;
    border: 0;
    cursor: pointer;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

.box{
    width: 350px;
    text-align: center;
}

.button{

}

.menu{

}